.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav .active {
    text-decoration: underline;
    color: pink;
    font-weight: bold;
}